body, html, #root, .EntriesPage, .container {
    width: 100%;
    height: 100%;
  }
  
  
  .container {
    font-size: 14px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
  }
  
  .loginForm {
   box-sizing: border-box;
   width: 100%;
   max-width: 400px;
   padding-left: 20px;
   padding-right: 20px;
  }
  
  .inputField {
   padding-top: 8px;
  }
  
  .input {
   box-sizing: unset;
   outline: darkgray;
   border: solid 2px #1189de;
   border-radius: 4px;
   color: #292929;
   width: 100%;
   padding: 8px;
   font-size: 8px;
   background: rgba(255, 255, 255, 1);
  }
  
  .submitButton {
   padding-top: 32px;
   
  }
  
  
  .btn {
   width: 100%;
   min-width: 280px;
   color: darkgoldenrod;
   padding: 12px;
   font-size: 14px;
   font-weight: bold;
   border: solid 2px #1189de;
   border-radius: 4px;
   background: #fff;
   cursor: pointer;
  }