.heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}
/*Container*/
.container {
	margin: 36px auto;
	width: 100%;
	max-width: 800px;
}
.search-label {
    position: relative;
    size: 10px;
}
.container input {
	width: 100%;
	padding: 16px;
	font-size: 36px;
	font-style: normal;
	color:blue;
	box-sizing: initial;
	outline: none;
}
.search-icon {
	position: sticky;
	top: initial;
	font-size: medium;
	color: #555;
	right: 18px;
}